header{
    text-align: center;
}

.menu{
    position:relative;
    overflow: auto;
}

.lista1 {
    width: 14.5%;
    float: left;
    list-style-type: none;
    background-color: #00f;
    text-decoration: none;
    margin: 4px;
    padding: 6px;
}

li a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#titulo{
    color: #037bc0;
}

.productos{
    text-align: center;
}

.contenido{
    padding: 5%;
}

.principal{
    width: 100%;
    height: 100%;
}

.principal img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.categorias{
    text-align: center;
}

.product-lg{
    height: 350px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    display: flex;
    margin-bottom: 10px;
}

.product-lg-img{
    width: 70%;
    height: auto;
}

.product-lg-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.product-lg-cnt{
    width: 30%;
    height: auto;
    background-color: #00f;
    text-align: center;
    color: #fff;
}

.product-sm{
    width: 49.4%;
    height: 450px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 50px;
    contain: content;
}

.product-sm-img{
    width: auto;
    height: 270px;
}

.product-sm-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.product-sm-cnt{
    width: 100%;
    height: 180px;
    background-color: #00f;
    text-align: center;
    color: #fff;
}

.product-smmm{
    width: 32.6%;
    height: 470px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    display: inline-block;
    contain: content;
}

.product-smmm-img{
    width: auto;
    height: 300px;
}

.product-smmm-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.product-smmm-cnt{
    width: 100%;
    height: 1700px;
    background-color: #00f;
    text-align: center;
    color: #fff;
    border-color: #00f;
    border-style: groove;
    border-width: 1px;
}

.categorias-productos{
    width: 90%;
    height: 350px;
    display: inline-block;
    padding: 5%;

}

.categorias-sm{
    width: 33%;
    display: inline-block;
    
}

.categorias-sm-img{
    width: auto;
    height: auto;
}

.categorias-sm-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.categorias-sm-cnt{
    width: auto;
    height: 50px;
    text-align: center;
    color: #000;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    background-color: #24262b;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 5px;
    display: inline-block
}



